
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">

<!--HEAD-->
@await Component.InvokeAsync("_UserLayoutWebUIHeadComponentPartial")
<!--HEAD END-->

<body>
	<!--preloading-->
	@await Component.InvokeAsync("_UserLayoutWebUIPreloaderComponentPartial")
	<!--end of preloading-->

	<!--login form popup-->
	@await Component.InvokeAsync("_UserLayoutWebUILoginModalComponentPartial")
	<!--end of login form popup-->

	<!--signup form popup-->
	@await Component.InvokeAsync("_UserLayoutWebUIRegisterModalComponentPartial")
	<!--end of signup form popup-->

	<!-- BEGIN | Header -->
	@await Component.InvokeAsync("_UserLayoutWebUINavbarComponentPartial")
	<!-- END | Header -->

	@if (ViewBag.IsMovieDetail)
	{
		<!-- BEGIN | Hero Common -->
		@await Component.InvokeAsync("_MovieDetailHeroComponentPartial")
		<!-- END | Hero Common -->
	}
	else
	{
		<!-- BEGIN | Hero Common -->
		@await Component.InvokeAsync("_UserLayoutWebUIHeroComponentPartial")
		<!-- END | Hero Common -->
	}


	@RenderBody()

	<!-- footer section-->
	@await Component.InvokeAsync("_UserLayoutWebUIFooterComponentPartial")
	<!-- end of footer section-->

	<script src="/Film-Review-Movie-Database/js/jquery.js"></script>
	<script src="/Film-Review-Movie-Database/js/plugins.js"></script>
	<script src="/Film-Review-Movie-Database/js/plugins2.js"></script>
	<script src="/Film-Review-Movie-Database/js/custom.js"></script>
</body>

<!-- movielist07:38-->
</html>